@import "../../colors";

.center {
  position: absolute;
  left: 10%;
  width: 80%;
  top: 10%;
  height: 80%;
}

.warning-text {
  text-align: center;
}

.stick-to-bottom {
  position: absolute;
  bottom: 0%;
  width: 100%;
}
