@import "../../colors";

.center {
  position: relative;
  left: 70%;
  top: 70%;
  transform: translate(-70%, -70%);
}

.center-text {
  text-align: center;
}

.stick-to-bottom {
  position: absolute;
  bottom: 0%;
  width: 100%;
}
